@use "../global" as g;

.gnav {
    font-weight: 600;
    height: 60px;

    @include g.mq('sp') {
        width: 100%;
        padding: 16px 0;
        font-weight: 800;
    }

    &-dropbtn {
        cursor: default;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        a {
            margin-bottom: 20px;
        }

        @include g.mq('sp') {
            gap: 0;
        }

        &::after {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            background-image: url('/images/gnav-arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 3px;

            @include g.mq('sp') {
                display: none;
            }
        }
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
        max-width: g.$layout-width-inner;
        margin: 0 auto;
        padding: 0 33px;
    }

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @include g.mq('sp') {
            width: 100%;
        }

        figure {
            width: 106px;
            height: auto;
        }

        figure:is(figure:not(:last-child)) {
            display: none;

            @include g.mq('sp') {
                display: block;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            figure {
                width: 25px;
            }

            &::after {
                content: '';
                width: 106px;
                height: 21px;
                margin-left: 10px;
                background-image: url("/images/sinmei_name-logo.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                @include g.mq('sp') {
                    display: none;
                }
            }
        }
    }

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        @include g.mq('sp') {
            display: none;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        gap: clamp(1rem, 0.541rem + 2.29vw, 2.5rem);
        flex-direction: row;
        margin: 0;
        padding: 0;

        @include g.mq('sp') {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: g.$palette-blue;
            z-index: 999;
            flex-direction: column;
            padding: 52px 24px 60px;
            margin-top: 60px;
            font-size: 22px;
        }

        .hidden {
            display: none;

            @include g.mq('sp') {
                display: inline;
                font-size: 11px;
                margin-left: 10px;
            }

            figure {
                width: 120px;

                img {
                    width: 100%;
                    height: auto;

                }
            }

            a {
                figure {
                    width: 50px;
                    height: auto;
                }
            }
        }


        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            @include g.mq('sp') {
                flex-direction: column;
                height: auto;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        a {
            text-decoration: none;
            color: g.$palette-white ;
        }
    }

    &-dropdown_content {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        z-index: 1;
        transition: opacity 0.3s ease;
        padding: 0;
        list-style-type: none;
        top: 60px;

        @include g.mq('sp') {
            position: relative;
            top: 0;
            width: 100%;
            background-color: g.$palette-blue;
            opacity: 1;
            pointer-events: auto;
            border-left: solid 1px g.$palette-white;
        }

        li {
            padding: 10px 12px 0;
            background-color: rgba(15, 45, 143, 0.8);

            span {
                font-size: 11px;
                color: g.$palette-white;
                display: block;

                @include g.mq('sp') {
                    display: inline;
                    margin-left: 10px;
                }
            }
        }
    }

    &-dropdown:hover &-dropdown_content {
        opacity: 1;
        pointer-events: auto;
    }

    &-dropdown_content li:last-child {
        border-bottom: none;
    }

    &-dropdown_content li a {
        display: block;
        color: g.$palette-white;
        text-decoration: none;
    }

    .is-active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .gnav-hamburger {
        display: none;

        @include g.mq('sp') {
            display: block;
            z-index: 1000;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }

    &-hamburger-line {
        display: block;
        width: 25px;
        height: 3px;
        background-color: g.$palette-white;
        margin: 4px auto;
        transition: background-color 0.3s ease;
    }

    &-hamburger.is-active &-hamburger-line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    &-hamburger.is-active &-hamburger-line:nth-child(2) {
        opacity: 0;
    }

    &-hamburger.is-active &-hamburger-line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}