@use "../global" as g;

.news-links {
    width: 310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: g.$palette-blue;
    }

    span {
        color: g.$palette-blue;
        font-size: clamp(0.938rem, 0.819rem + 0.5vw, 1.25rem);
        border-bottom: solid 1px g.$palette-blue;
    }
}