$palette-white: #ffffff; //白
$palette-black: #000000; //黒
$palette-blue: #102d8e; //青
$palette-lightblue: #0085d8; //薄い青
$palette-red: #d60100;

// $palette-blueの色をrgbaで指定
$palette-blue-rgba: rgba(16, 45, 142, 0.7);
