---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="404 | 株式会社SINMEI">
  <main>
    <section class="notfound">
      <div class="notfound-inner">
        <div class="notfound-main">
          <div class="notfound-tit">
            <p lang="en">404<br />not found</p>
          </div>
          <div class="notfound-text">
            <p>申し訳ございません。</p>
            <p>お探しのページは見つかりませんでした。</p>
          </div>
        </div>
      </div>
    </section>
    <Cta />
  </main>
</Layout>

<style></style>
