---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="株式会社SINMEIについて | 株式会社SINMEIについて">
  <main>
    <section class="company">
      <div class="company-inner">
        <div class="company-header">
          <img src="/images/companytop.jpg" alt="" />
        </div>
        <div class="company-main">
          <div class="company-tit">
            <p lang="en">company</p>
            <h1>株式会社SINMEIについて</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="overview">
      <div class="overview-inner">
        <div class="overview-main">
          <div class="overview-accordion">
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>会社概要</h2>
                <img src="/images/arrow-down-blue.svg" alt="" />
              </div>
              <div class="accordion-content">
                <article>
                  <h3>商号</h3>
                  <h4>株式会社SINMEI</h4>
                </article>
                <article>
                  <h3>本社・第1〜第4工場所在地</h3>
                  <h4>青森県五所川原市大字太刀打字常盤83-2</h4>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.9223085771746!2d140.45232007717246!3d40.82967013040195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9bbb2493e3b90b%3A0xa42fe42ae2e8066!2zKOagqinvvLPvvKnvvK7vvK3vvKXvvKk!5e0!3m2!1sja!2sjp!4v1708066277798!5m2!1sja!2sjp"
                    width="100%"
                    height="250"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </article>
                <article>
                  <h3>第5工場所在地</h3>
                  <h4>青森県五所川原市太刀打早蕨59-10</h4>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.2952775150097!2d140.45351917603114!3d40.82147747137719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9bbb298e326d07%3A0xf3f2f50b9e0b96e9!2z77yI5qCq77yJ77yz77yp77yu77yt77yl77ypIOaXqeiVqOW3peWgtA!5e0!3m2!1sja!2sjp!4v1708066905714!5m2!1sja!2sjp"
                    width="100%"
                    height="250"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </article>
                <article>
                  <h3>第6工場所在地</h3>
                  <h4>青森県五所川原市大字金山亀甲120番1</h4>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.638012774386!2d140.47272977717205!3d40.813947731366405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9ba575ebd0b657%3A0xde9e08dee20e651d!2z5qCq5byP5Lya56S-U0lOTUVJ56ys77yW5bel5aC0!5e0!3m2!1sja!2sjp!4v1708066947988!5m2!1sja!2sjp"
                    width="100%"
                    height="250"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </article>
                <article>
                  <h3>代表者</h3>
                  <h4>佐藤 文宣</h4>
                </article>
                <article>
                  <h3>TEL / FAX</h3>
                  <h4>0173-34-4320 / 0173-33-4776</h4>
                </article>
                <article>
                  <h3>設 立</h3>
                  <h4>昭和61年（1986年）3月</h4>
                </article>
                <article>
                  <h3>営業種目</h3>
                  <ul>
                    <li>金属製品製造業</li>
                    <li>鋼構造物工事業</li>
                    <li>管工事業</li>
                  </ul>
                </article>
                <article>
                  <h3>主な営業エリア</h3>
                  <h4>青森県・東北各県・首都圏</h4>
                </article>
                <article>
                  <h3>特定建設業許可</h3>
                  <h4>
                    <span>青森県知事許可（特-29）</span>
                    <span>第０１１０８２号</span>
                  </h4>
                </article>
                <article>
                  <h3>国土交通大臣 Hグレード認定工場 認定番号 TFBH-172451</h3>
                  <h4>認定番号 TFBH-172451</h4>
                  <div>
                    <div>
                      <h5>認定書（Hグレード）</h5>
                      <img src="/images/company_ninteisyo.jpg" alt="" />
                    </div>
                    <div>
                      <h5>指定書（Hグレード）</h5>
                      <img src="/images/company_ninteisyo.jpg" alt="" />
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header">
                <h2>沿 革</h2>
                <img src="/images/arrow-down-blue.svg" alt="" />
              </div>
              <div class="accordion-content">
                <article>
                  <h3>1968 年</h3>
                  <h4>株式会社伸明工業 太刀打常盤で工場設立</h4>
                </article>
                <article>
                  <h3>1986 年</h3>
                  <p>株式会社伸明工業解散に伴い</p>
                  <p>有限会社藤恭設立</p>
                  <p>株式会社伸明工業より実績承継認可</p>
                </article>
                <article>
                  <h3>1991 年</h3>
                  <p>有限会社藤恭より</p>
                  <p>株式会社藤恭へと組織変更</p>
                  <p>グループ会社として</p>
                  <p>株式会社シンメイ鐵工設立</p>
                </article>
                <article>
                  <h3>1995 年</h3>
                  <h4>全構連 Mグレード取得</h4>
                </article>
                <article>
                  <h3>2008 年</h3>
                  <p>株式会社藤恭と</p>
                  <p>株式会社シンメイ鐵工が合併</p>
                  <p>株式会社SINMEIへと社名変更</p>
                  <p>代表取締役社長に佐藤文宣就任</p>
                </article>
                <article>
                  <h3>2016 年</h3>
                  <h4>第4工場増築</h4>
                </article>
                <article>
                  <h3>2018 年</h3>
                  <h4>第5工場電源増設プラズマ移設</h4>
                </article>
                <article>
                  <h3>2022 年</h3>
                  <h4>第6工場（金山）竣工</h4>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Cta />
  </main>

  <style></style>
</Layout>
