---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="株式会社SINMEIについて | 株式会社SINMEIについて">
	<Header />
	<main>
		<h1>test</h1>
		<p>test</p>
	</main>
	<Footer />
</Layout>

<style></style>
