---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="お問い合わせ | 株式会社SINMEI">
    <Header />
    <main>
        <h1>test</h1>
        <p>test</p>
    </main>
    <Footer />
</Layout>

<style></style>
