---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="持続可能な開発目標 | 株式会社SINMEI">
    <main>
        <section class="contactthanks">
            <div class="contactthanks-inner">
                <div class="contactthanks-main">
                    <div class="contactthanks-tit">
                        <p lang="en">contact us</p>
                        <h2>お問い合わせ</h2>
                    </div>
                    <div class="contactthanks-text">
                        <p>お問い合わせありがとうございます。</p>
                        <p>
                            営業日3～4日以上経過してもお返事がない場合は、メール・お電話ともにお返事できない状況の可能性がございます。
                            その際はお手数をおかけしますが、こちらのお電話に直接ご連絡いただくか、再度メールフォームから送信いただけますようお願い申し上げます。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <Cta />
    </main>
</Layout>

<style></style>
