---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="株式会社SINMEI">
	<main>
		<section class="news">
			<div class="news-inner">
				<div class="news-tit">
					<h2 lang="en">news</h2>
					<p>お知らせ</p>
				</div>
				<ul class="news-list">
					<li class="news-item">
						<div class="news-item_tit" lang="ja">
							<time datetime="2023-11-10">2023.11.10</time>
							<p>お知らせ</p>
						</div>
						<div class="news-item_text">
							<a href="">
								<p>採用情報を更新いたしました。</p>
								<img src="/images/arrow-blue.svg" alt="" />
							</a>
						</div>
					</li>
					<li class="news-item">
						<div class="news-item_tit" lang="ja">
							<time datetime="2023-11-10">2023.11.10</time>
							<p>お知らせ</p>
						</div>
						<div class="news-item_text">
							<a href="">
								<p>採用情報を更新いたしました。</p>
								<img src="/images/arrow-blue.svg" alt="" />
							</a>
						</div>
					</li>
					<li class="news-item">
						<div class="news-item_tit" lang="ja">
							<time datetime="2023-11-10">2023.11.10</time>
							<p>お知らせ</p>
						</div>
						<div class="news-item_text">
							<a href="">
								<p>採用情報を更新いたしました。</p>
								<img src="/images/arrow-blue.svg" alt="" />
							</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="contact">
			<div class="contact-inner">
				<div class="contact-tit">
					<h2 lang="en">contact us</h2>
					<p>お問い合わせ</p>
				</div>
				<div class="contact-text">
					<a href=""
						>フォームからのお問い合わせ
						<img src="/images/arrow.svg" alt="ボタン" /></a
					>
				</div>
			</div>
		</section>
		<section class="access">
			<div class="access-inner">
				<div class="access-tit">
					<h2 lang="en">access</h2>
					<p>アクセス</p>
				</div>
				<div class="access-map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12075.689968301911!2d140.4445953173828!3d40.8296661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9bbb2493e3b90b%3A0xa42fe42ae2e8066!2zKOagqinvvLPvvKnvvK7vvK3vvKXvvKk!5e0!3m2!1sja!2sjp!4v1707713358893!5m2!1sja!2sjp"
						width="100%"
						height="100%"
						style="border:0;"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</section>

		<style></style>
	</main>
</Layout>
