---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import { Image } from "astro:assets";
import sinmei_name_logo_ol_white from "../images/sinmei_name-logo_ol_white.svg";
---

<Layout title="株式会社SINMEI">
  <main>
    <section class="top">
      <div class="top-inner">
        <div class="top-header">
          <Image src={sinmei_name_logo_ol_white} alt="" />
        </div>
        <div class="top-main">
          <div class="top-image">
            <picture>
              <source media="(min-width: 576px)" srcset="/images/top-bg.jpg" />
              <source
                media="(max-width: 575px)"
                srcset="/images/top-bg-sp.jpg"
              />
              <img src="/images/top-bg.jpg" alt="Description" />
            </picture>
          </div>
        </div>
        <div class="top-tit">
          <p>もっとよいものを</p>
          <p>責任をもって</p>
          <p>作れる会社へ</p>
        </div>
      </div>
    </section>
    <section class="top-company">
      <div class="top-company-inner">
        <div class="top-company-main">
          <div class="top-company-main_half">
            <div class="top-company-tit">
              <p>長年の実績と<br />確かな施工品質で</p>
              <p>地域社会の発展に貢献します</p>
            </div>
            <div class="top-company-text">
              <p>
                株式会社SINMEIは、設立以来培ってきた技術力により、お客様の幅広いニーズにお応えして鉄骨工事業を展開しております。<br
                />
                技術力、品質向上に努めて、お客様の満足度を高めるべく、邁進いたします。
              </p>
            </div>
            <div class="top-company-link">
              <a href="/company">
                <p lang="en">company</p>
                <img src="/images/arrow.svg" alt="" width="40" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="top-services">
      <div class="top-services-inner">
        <div class="top-services-main">
          <div class="top-services-tit">
            <p lang="en">services</p>
            <h2>事業内容</h2>
          </div>
          <div class="top-services-text">
            <p>
              建築工事は青森県知事特定建設業を取得、鉄骨に関しては国土交通省大臣認定Hグレードを取得し、関東近郊から東北一円にかけて大規模鉄骨の製作を行っております。最新鋭の設備を取り入れ、有資格者も多数在籍しております。工事の際には、ぜひ当社をご用命下さい。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="top-works">
      <div class="top-works-inner">
        <div class="top-works-main">
          <div class="top-works-tit">
            <h3>鉄骨製造</h3>
            <h3>鋼構造物工事業</h3>
            <h3>建築鉄骨（設計施工）</h3>
            <h3>設備工事</h3>
          </div>
          <div class="top-works-link">
            <a href="/works">
              <p lang="en">works</p>
              <img src="/images/arrow.svg" alt="" width="40" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-ourmission">
      <div class="top-ourmission-inner">
        <div class="top-ourmission-main">
          <div class="top-ourmission-tit">
            <p>Our MISSION</p>
            <h2>SINMEIの取組み</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-sdgs">
      <div class="top-sdgs-inner">
        <div class="top-sdgs-main">
          <div class="top-sdgs-tit">
            <h2>SDGs</h2>
          </div>
          <div class="top-sdgs-images">
            <div><img src="/images/sdgs-tit.svg" alt="" /></div>
            <div><img src="/images/sdgs-group.svg" alt="" /></div>
          </div>
          <div class="top-sdgs-text">
            <h3>
              株式会社ＳＩＮＭＥＩは、ＳＤＧｓを国際社会の重要な目標と捉え、企業の経済、社会及び環境の三側面を調和させ、人類および地球に対し行動を促進させていきます。
            </h3>
          </div>
          <div class="top-sdgs-link">
            <a href="/sdgs">
              <p lang="en">read more</p>
              <img src="/images/arrow.svg" alt="" width="40" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-partnership">
      <div class="top-partnership-inner">
        <div class="top-partnership-main">
          <div class="top-partnership-tit">
            <h2 lang="en">partner ship</h2>
          </div>
          <div class="top-partnership-images">
            <img
              src="/images/top_009_partner-ship.jpg"
              alt="パートナーシップ"
            />
          </div>
          <div class="top-partnership-text">
            <div>
              <h3>
                <span>青森の企業</span>から<br /><span>芸術・文化</span>の<span
                  >発信</span
                >を！
              </h3>
            </div>
            <div>
              <img
                src="/images/sinmei-ringomusume.svg"
                alt="SINMEI×RINGO MUSUME"
              />
            </div>
          </div>
          <div class="top-partnership-link">
            <a href="/partnership">
              <p lang="en">read more</p>
              <img
                src="/images/arrow-blue.svg"
                alt="SINMEI×RINGO MUSUME"
                width="40"
              />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-recruit">
      <div class="top-recruit-inner">
        <div class="top-recruit-header">
          <picture>
            <source
              srcset="/images/recruit-A.jpg"
              media="(orientation: portrait)"
            />
            <img src="/images/recruit-A.jpg" alt="" />
          </picture>
          <picture>
            <source
              srcset="/images/recruit-B.jpg"
              media="(orientation: portrait)"
            />
            <img src="/images/recruit-B.jpg" alt="" />
          </picture>
          <picture>
            <source
              srcset="/images/recruit-C.jpg"
              media="(orientation: portrait)"
            />
            <img src="/images/recruit-C.jpg" alt="" />
          </picture>
          <picture>
            <source
              srcset="/images/recruit-D.jpg"
              media="(orientation: portrait)"
            />
            <img src="/images/recruit-D.jpg" alt="" />
          </picture>
          <picture>
            <source
              srcset="/images/recruit-E.jpg"
              media="(orientation: portrait)"
            />
            <img src="/images/recruit-E.jpg" alt="" />
          </picture>
          <picture>
            <source
              srcset="/images/recruit-F.jpg"
              media="(orientation: portrait)"
            />
            <img src="/images/recruit-F.jpg" alt="" />
          </picture>
        </div>
        <div class="top-recruit-main">
          <div class="top-recruit-tit">
            <p lang="en">recruit</p>
            <h2>採用情報</h2>
          </div>
          <div class="top-recruit-text">
            <p>
              これまでの経験を活かした仕事をしたい、未来の街づくりを手がけたいという方からのご応募をお待ちしております。
            </p>
          </div>
          <div class="top-recruit-link">
            <a href="/recruit">
              <p lang="en">read more</p>
              <img src="/images/arrow.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-news">
      <div class="top-news-inner">
        <div class="top-news-main">
          <div class="top-news-tit">
            <p lang="en">news</p>
            <h2>お知らせ</h2>
          </div>
          <ul class="top-news-list">
            <li class="top-news-item">
              <div class="top-news-item_tit" lang="ja">
                <time datetime="2023-11-10">2023.11.10</time>
                <p>お知らせ</p>
              </div>
              <div class="top-news-item_text">
                <a href="/news/post-1/">
                  <p>採用情報を更新いたしました。</p>
                  <img src="/images/arrow-blue.svg" alt="" width="25" />
                </a>
              </div>
            </li>
            <li class="top-news-item">
              <div class="top-news-item_tit" lang="ja">
                <time datetime="2023-11-10">2023.11.10</time>
                <p>お知らせ</p>
              </div>
              <div class="top-news-item_text">
                <a href="/news/post-1/">
                  <p>採用情報を更新いたしました。</p>
                  <img src="/images/arrow-blue.svg" alt="" width="25" />
                </a>
              </div>
            </li>
            <li class="top-news-item">
              <div class="top-news-item_tit" lang="ja">
                <time datetime="2023-11-10">2023.11.10</time>
                <p>お知らせ</p>
              </div>
              <div class="top-news-item_text">
                <a href="/news/post-1/">
                  <p>採用情報を更新いたしました。</p>
                  <img src="/images/arrow-blue.svg" alt="" width="25" />
                </a>
              </div>
            </li>
          </ul>
          <div class="top-news-link">
            <a href="/news">
              <p lang="en">read more</p>
              <img src="/images/arrow-blue.svg" alt="" width="40" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <Cta />
    <section class="top-access">
      <div class="top-access-inner">
        <div class="top-access-main">
          <div class="top-access-tit">
            <p lang="en">access</p>
            <h2>アクセス</h2>
          </div>
          <div class="top-access-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12075.689968301911!2d140.4445953173828!3d40.8296661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9bbb2493e3b90b%3A0xa42fe42ae2e8066!2zKOagqinvvLPvvKnvvK7vvK3vvKXvvKk!5e0!3m2!1sja!2sjp!4v1707713358893!5m2!1sja!2sjp"
              width="100%"
              height="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
