---
import Layout from "../layouts/Layout.astro";
---

<Layout title="株式会社SINMEIについて | 株式会社SINMEI">
    <main>
        <section class="news">
            <div class="news-inner">
                <div class="news-main">
                    <div class="news-tit">
                        <p lang="en">news</p>
                        <h2>お知らせ</h2>
                    </div>
                    <ul class="news-list">
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                        <li class="news-item">
                            <div class="news-item_tit" lang="ja">
                                <time datetime="2023-11-10">2023.11.10</time>
                                <p>お知らせ</p>
                            </div>
                            <div class="news-item_text">
                                <a href="">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="news-link">
                        <a href="">
                            <p lang="en">read more</p>
                            <img
                                src="/images/arrow-blue.svg"
                                alt=""
                                width="40"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style></style>
