---
import Layout from "../layouts/Layout.astro";
---

<Layout title="株式会社SINMEIについて | 株式会社SINMEI">
    <main>
        <section class="news">
            <div class="news-inner">
                <div class="news-main">
                    <div class="news-tit">
                        <p lang="en">news</p>
                        <h2>お知らせ</h2>
                    </div>
                    <ul class="news-list">
                        <li class="news-item">
                            <a href="/news/post-1/">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                        <li class="news-item">
                            <a href="">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                        <li class="news-item">
                            <a href="">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                        <li class="news-item">
                            <a href="">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                        <li class="news-item">
                            <a href="">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                        <li class="news-item">
                            <a href="">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                        <li class="news-item">
                            <a href="">
                                <div class="news-item_tit" lang="ja">
                                    <time datetime="2023-11-10">2023.11.10</time
                                    >
                                    <p>お知らせ</p>
                                </div>
                                <div class="news-item_text">
                                    <p>採用情報を更新いたしました。</p>
                                    <img
                                        src="/images/arrow-blue.svg"
                                        alt=""
                                        width="25"
                                    />
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="news-links">
                        <a href="#">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="60"
                                height="60"
                                viewBox="0 0 60 60"
                            >
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect
                                            width="22.261"
                                            height="18.081"
                                            fill="none"
                                            stroke="#102d8e"
                                            stroke-width="1"></rect>
                                    </clipPath>
                                </defs>
                                <g transform="translate(339 1611) rotate(-180)">
                                    <g transform="translate(297.869 1572.281)">
                                        <g clip-path="url(#clip-path)">
                                            <path
                                                d="M49.245.354,58.191,9.3l-8.946,8.946"
                                                transform="translate(-36.119 -0.259)"
                                                fill="none"
                                                stroke="#102d8e"
                                                stroke-miterlimit="10"
                                                stroke-width="1"></path>
                                            <line
                                                x1="22.073"
                                                transform="translate(0 9.041)"
                                                fill="none"
                                                stroke="#102d8e"
                                                stroke-miterlimit="10"
                                                stroke-width="1"></line>
                                        </g>
                                    </g>
                                    <g
                                        transform="translate(279 1551)"
                                        fill="none"
                                        stroke="#102d8e"
                                        stroke-width="1"
                                    >
                                        <circle
                                            cx="30"
                                            cy="30"
                                            r="30"
                                            stroke="none"></circle>
                                        <circle
                                            cx="30"
                                            cy="30"
                                            r="29.5"
                                            fill="none"></circle>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <span>1</span>
                        <a href="#">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="60"
                                height="60"
                                viewBox="0 0 60 60"
                            >
                                <g
                                    id="group_132"
                                    data-name="group 132"
                                    transform="translate(-279 -1551)"
                                >
                                    <g
                                        id="group_17"
                                        data-name="group 17"
                                        transform="translate(297.869 1572.281)"
                                    >
                                        <g id="group_16" data-name="group 16">
                                            <path
                                                id="path_12"
                                                data-name="path 12"
                                                d="M49.245.354,58.191,9.3l-8.946,8.946"
                                                transform="translate(-36.119 -0.259)"
                                                fill="none"
                                                stroke="#102d8e"
                                                stroke-miterlimit="10"
                                                stroke-width="1"></path>
                                            <line
                                                id="line_6"
                                                data-name="line 6"
                                                x1="22.073"
                                                transform="translate(0 9.041)"
                                                fill="none"
                                                stroke="#102d8e"
                                                stroke-miterlimit="10"
                                                stroke-width="1"></line>
                                        </g>
                                    </g>
                                    <g
                                        id="ellipse_1"
                                        data-name="ellipse 1"
                                        transform="translate(279 1551)"
                                        fill="none"
                                        stroke="#102d8e"
                                        stroke-width="1"
                                    >
                                        <ellipse
                                            cx="30"
                                            cy="30"
                                            rx="30"
                                            ry="30"
                                            stroke="none"></ellipse>
                                        <ellipse
                                            cx="30"
                                            cy="30"
                                            rx="29.5"
                                            ry="29.5"
                                            fill="none"></ellipse>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    .news-tit {
        text-align: center;
    }
    .news-item {
        padding: 0;
        a {
            padding: 28px 38px 35px;
            text-decoration: none;
            display: block;
        }
        .news-item_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>
