---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="パートナーシップ | 株式会社SINMEI">
  <main>
    <section class="partnership">
      <div class="partnership-inner">
        <div class="partnership-header">
          <img src="/images/partnership_top.jpg" alt="" />
        </div>
        <div class="partnership-main">
          <div class="partnership-subtit">
            <p>Our MISSION</p>
            <h1>SINMEIの取組み</h1>
          </div>
          <div class="partnership-tit">
            <p lang="en">partnership</p>
            <h2>パートナーシップ</h2>
          </div>
          <div class="partnership-text">
            <article>
              <picture>
                <source
                  srcset="/images/sinmei-ringomusume_white.svg"
                  media="(orientation: portrait)"
                />
                <img
                  src="/images/sinmei-ringomusume_white.svg"
                  alt=""
                  width="467"
                />
              </picture>
            </article>
            <article>
              <h3>
                青森の企業<span>から</span><br />
                芸術・文化<span>の</span>発信<span>を！</span>
              </h3>
              <div>
                <h4>コラボ企業<br />パンフレット</h4>
                <a href="" lang="en">click</a>
                <picture>
                  <source
                    srcset="/images/partnership_pamphlet.jpg"
                    media="(orientation: portrait)"
                  />
                  <img
                    src="/images/partnership_pamphlet.jpg"
                    alt=""
                    width="533"
                  />
                </picture>
                <picture>
                  <source
                    srcset="/images/partnership_pink.png"
                    media="(orientation: portrait)"
                  />
                  <img src="/images/partnership_pink.png" alt="" width="340" />
                </picture>
                <picture>
                  <source
                    srcset="/images/partnership_king.png"
                    media="(orientation: portrait)"
                  />
                  <img src="/images/partnership_king.png" alt="" width="340" />
                </picture>
                <picture>
                  <source
                    srcset="/images/partnership_gurin.png"
                    media="(orientation: portrait)"
                  />
                  <img src="/images/partnership_gurin.png" alt="" width="340" />
                </picture>
              </div>
            </article>
            <article>
              <div>
                <h3 lang="en">web cm</h3>
                <p>公開中！</p>
              </div>
              <div>
                <iframe
                  width="950"
                  height="613"
                  src="https://www.youtube.com/embed/8vyFgR1WtZE?si=40xyvCTxxg8P0lEU"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
              <picture>
                <source
                  srcset="/images/partnership_kinsei.png"
                  media="(orientation: portrait)"
                />
                <img src="/images/partnership_kinsei.png" alt="" width="552" />
              </picture>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Cta />
</Layout>

<style></style>
