---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="採用情報 | 株式会社SINMEI">
  <main>
    <section class="recruit">
      <div class="recruit-inner">
        <div class="recruit-header">
          <img src="/images/recruit_top.jpg" alt="" />
        </div>
        <div class="recruit-main">
          <div class="recruit-tit">
            <p lang="en">recruit</p>
            <h2>採用情報</h2>
          </div>
          <div class="recruit-text">
            <p>私達と一緒に<br />働いてみませんか？</p>
            <div class="recruit-carousel">
              <div class="recruit-carousel-wrapper">
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide001.jpg" alt="Image 1" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide002.jpg" alt="Image 2" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide003.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide004.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide005.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide006.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide007.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide008.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide009.jpg" alt="Image 3" />
                </div>
                <div class="recruit-carousel-item">
                  <img src="/images/recruit-slide010.jpg" alt="Image 3" />
                </div>
              </div>
              <div class="recruit-carousel-pager">
                <span>Scroll</span>
                <button class="recruit-carousel-next">
                  <img src="/images/arrow.svg" alt="Next" />
                </button>
              </div>
            </div>
            <p>
              これまでの経験を活かした仕事をしたい、未来の街づくりを手がけたいという方からのご応募をお待ちしております。
              詳しくはお電話もしくはお問合せフォームからご連絡ください。
            </p>
          </div>
        </div>
        <div class="recruit-footer">
          <div class="recruit-list">
            <h3>募集要項</h3>
            <ul>
              <li class="list-item">
                <div>
                  <h4>応募資格</h4>
                  <p>
                    新卒・既卒（第二新卒を含む）及び一般（学部・学科の指定なし）
                  </p>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>募集職種</h4>
                  <p>➀技術職種（3～5名）</p>
                  <ul>
                    <li>
                      設計：鉄骨の図面作成、お客様との仕様打合せ、工場への製作指示等
                    </li>
                    <li>
                      品質管理：品質検査（外観寸法・超音波）、製品検査対応等
                    </li>
                    <li>
                      工事：鉄骨工事現場に置いての現場代理人業務、本社と現場との調整等
                    </li>
                  </ul>
                  <p>➁営業職及び営業系事務（2～3名）</p>
                  <ul>
                    <li>
                      営業：ルート営業で得意先（大手ゼネコン）から当社鉄骨製品の受注を獲得するのが主な業務。得意先を訪問し、受注に繋がる情報収集や打合せ、見積書作成など。
                    </li>
                    <li>
                      営業：ルート営業で得意先（大手ゼネコン）から当社鉄骨製品の受注を獲得するのが主な業務。得意先を訪問し、受注に繋がる情報収集や打合せ、見積書作成など。
                    </li>
                  </ul>
                  <p>➂製造（5名）</p>
                  <ul>
                    <li>ロボットオペレータ・部品加工・組立・溶接など。</li>
                  </ul>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>初任給</h4>
                  <ul>
                    <li>高卒：175,000円</li>
                    <li>短大・専門卒：180,000円</li>
                    <li>高専卒：200,000円</li>
                    <li>大卒：200,000円</li>
                  </ul>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>勤務時間</h4>
                  <p>8：00～17：00（休憩時間105分）</p>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>休 日</h4>
                  <p>日・その他 ※2024年4月より年間105日</p>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>休 暇</h4>
                  <p>有給休暇、特別休暇（弔辞等）、育児休暇あり</p>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>福利厚生</h4>
                  <p>
                    健康保険・雇用保険・厚生年金・労災保険・通勤手当（市内以外）・役職手当・定期健康診断・保健師による保健指導・結婚祝・出産祝・見舞金・香典・新入社員研修・OFF-JT・フォローアップ研修・スキルアップ教育・ボーリング大会・忘年会・安全大会
                  </p>
                </div>
              </li>
              <li class="list-item">
                <div>
                  <h4>採用実績</h4>
                  <p>
                    日本大学、青森中央学院大学、THUY
                    LOI大学、八戸工業大学、青森職業能力開発短期大学、東北電子専門学校、青森高等学校、五所川原工業高等学校、五所川原工科高等学校、木造高等学校、五所川原農林高等学校、五所川原第一高等学校、弘前工業高等学校
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <Cta />
  </main>
</Layout>

<style></style>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const slider = document.querySelector(".recruit-carousel-wrapper");
    const slides = document.querySelectorAll(".recruit-carousel-item");
    const pager = document.querySelector(".recruit-carousel-pager");
    const firstSlide = slides[0].cloneNode(true);
    const lastSlide = slides[slides.length - 1].cloneNode(true);
    slider.insertBefore(lastSlide, slider.firstChild);
    slider.appendChild(firstSlide);
    const slideWidth = 430; // スライドの幅を430pxに設定
    let currentIndex = 1; // 最初の複製されたスライドを考慮
    const pagerOffset = pager.getBoundingClientRect().left; // recruit-carousel-pagerの左端からの距離

    // 初期位置を設定（pagerOffsetを考慮）
    slider.style.transform = `translateX(${-(slideWidth * currentIndex) + pagerOffset}px)`;

    function nextSlide() {
      currentIndex++;
      if (currentIndex >= slides.length + 1) {
        // 最後の本来のスライドに到達したら
        currentIndex = 2; // 実質的な最初のスライドに戻る
        slider.style.transition = "none"; // トランジションを無効にして瞬時に移動
        slider.style.transform = `translateX(${-(slideWidth * (currentIndex - 1)) + pagerOffset}px)`;
        setTimeout(() => (slider.style.transition = "transform 0.5s ease"), 0); // トランジションを再度有効にする
      } else {
        updateSlider();
      }
    }

    function updateSlider() {
      const offset = -(slideWidth * currentIndex) + pagerOffset;
      slider.style.transform = `translateX(${offset}px)`;
    }

    setInterval(nextSlide, 5000);
  });
</script>
