---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import { Picture } from "astro:assets";
import recruit_top from "../images/recruit_top.jpg";
---

<Layout title="送信ありがとうございました | 株式会社SINMEI">
  <main>
    <section class="recruit-thanks">
      <div class="recruit-thanks-inner">
        <div class="recruit-thanks-header">
          <Picture
            src={recruit_top}
            formats={["avif", "webp"]}
            alt="採用情報 トップ画像"
          />
        </div>
        <div class="recruit-thanks-main">
          <div class="recruit-thanks-tit">
            <p lang="en">recruit</p>
            <h2>採用情報</h2>
          </div>
          <div class="recruit-thanks-text">
            <p>ご応募ありがとうございます！</p>
            <p>
              営業日3～4日以上経過してもお返事がない場合は、メール・お電話ともにお返事できない状況の可能性がございます。
              その際はお手数をおかけしますが、こちらのお電話に直接ご連絡いただくか、再度メールフォームから送信いただけますようお願い申し上げます。
            </p>
          </div>
        </div>
      </div>
    </section>
    <Cta />
  </main>
</Layout>
