---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="持続可能な開発目標 | 株式会社SINMEI">
    <Header />
    <main>
        <h1>test</h1>
        <p>test</p>
    </main>
</Layout>

<style></style>
