---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="SPECIAL THANKS | 株式会社SINMEI">
  <main>
    <section class="special-thanks">
      <div class="special-thanks-inner">
        <div class="special-thanks-main">
          <div class="special-thanks-tit">
            <p lang="en">special thanks</p>
          </div>
          <div class="special-thanks-text" lang="ja">
            <div>
              <p>Photographer</p>
              <p>
                <a
                  href="https://www.alfiegoodrich.com"
                  target="_blank"
                  rel="noopener noreferrer">Alfie Goodrich</a
                >
              </p>
            </div>
            <div>
              <p>Web developer</p>
              <p>
                <a
                  href="https://plus-agc.com"
                  target="_blank"
                  rel="noopener noreferrer">株式会社プラス</a
                >
              </p>
            </div>
            <div>
              <p>Web designer</p>
              <p>
                <a
                  href="https://www.og-chance.com"
                  target="_blank"
                  rel="noopener noreferrer">OG-CHANCE</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Cta />
  </main>
</Layout>
