---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
---

<Layout title="SPECIAL THANKS | 株式会社SINMEI">
  <main>
    <section class="specialthanks">
      <div class="specialthanks-inner">
        <div class="specialthanks-main">
          <div class="specialthanks-tit">
            <p lang="en">special thanks</p>
          </div>
          <div class="specialthanks-text" lang="ja">
            <div>
              <p>Photographer</p>
              <p>Alfie Goodrich</p>
            </div>
            <div>
              <p>RINGO MUSIC</p>
            </div>
            <div>
              <p>Web developer</p>
              <p>株式会社プラス</p>
            </div>
            <div>
              <p>Web designer</p>
              <p>OG-CHANCE</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Cta />
  </main>
</Layout>

<style></style>
