---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import Carousel from "../components/Carousel.astro";
import { Picture } from "astro:assets";
import workstop from "../images/workstop.jpg";
---

<Layout title="施工実績 | 株式会社SINMEI">
  <main>
    <section class="works">
      <div class="works-inner">
        <div class="works-header">
          <Picture
            src={workstop}
            formats={["avif", "webp"]}
            alt="施工実績 トップ画像"
          />
        </div>
        <div class="works-main">
          <div class="works-tit">
            <p lang="en">WORKS</p>
            <h1>施工実績</h1>
          </div>
          <div class="works-text">
            <p>
              当社の技術が施工に活かされた実績の一部を紹介させて頂きます。
              社員一人一人の技術向上に努め、より良い製品をお届けします。
            </p>
          </div>
          <Carousel />
        </div>
      </div>
    </section>
    <Cta />
  </main>
</Layout>
