---
import Layout from "../layouts/Layout.astro";
import Cta from "../components/Cta.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="株式会社SINMEIについて | 株式会社SINMEI">
    <main>
        <section class="workspage">
            <div class="workspage-inner">
                <div class="workspage-header">
                    <img src="/images/workstop.jpg" alt="" />
                </div>
                <div class="workspage-main">
                    <div class="workspage-tit">
                        <p lang="en">WORKS</p>
                        <h1>施工実績</h1>
                    </div>
                    <div class="workspage-text">
                        <p>
                            当社の技術が施工に活かされた実績の一部を紹介させて頂きます。
                            社員一人一人の技術向上に努め、より良い製品をお届けします。
                        </p>
                    </div>
                    <Carousel />
                </div>
            </div>
        </section>
        <Cta />
    </main>
</Layout>
