---
import { Image } from "astro:assets";

const slideImages = [
    "/public/images/slide001.jpg",
    "/public/images/slide002.jpg",
    "/public/images/slide003.jpg",
    "/public/images/slide004.jpg",
    "/public/images/slide005.jpg",
    "/public/images/slide006.jpg",
    "/public/images/slide007.jpg",
    "/public/images/slide008.jpg",
    "/public/images/slide009.jpg",
];
---

<div className="swiper-wrapper">
    {
        slideImages.map((slide, index) => (
            <div className="swiper-slide" key="{index}">
                <image src="{slide}" alt="" />
            </div>
        ))
    }
</div>
