<section class="top-contact">
  <div class="top-contact-inner">
    <div class="top-contact-main">
      <div class="top-contact-tit">
        <p lang="en">contact us</p>
        <h2>お問い合わせ</h2>
      </div>
      <div class="top-contact-text">
        <a href=""
          >フォームからのお問い合わせ
          <img src="/images/arrow.svg" alt="ボタン" /></a
        >
      </div>
    </div>
  </div>
</section>
