---
import { Image } from "astro:assets";
import arrow from "../images/arrow.svg";
---

<section class="cta">
  <div class="cta-inner">
    <div class="cta-main">
      <div class="cta-tit">
        <p lang="en">contact us</p>
        <h2>お問い合わせ</h2>
      </div>
      <div class="cta-text">
        <a href="/contact"
          >フォームからのお問い合わせ
          <Image src={arrow} alt="矢印アイコン" />
        </a>
      </div>
    </div>
  </div>
</section>
