<section class="contact">
    <div class="contact-inner">
        <div class="contact-main">
            <div class="contact-tit">
                <h2 lang="en">contact us</h2>
                <p>お問い合わせ</p>
            </div>
            <div class="contact-text">
                <a href=""
                    >フォームからのお問い合わせ
                    <img src="/images/arrow.svg" alt="ボタン" /></a
                >
            </div>
        </div>
    </div>
</section>
