---
import { Image } from "astro:assets";
import instagram from "../images/instagram.svg";
import sinmei_logo from "../images/sinmei-logo.svg";
---

<nav class="footer-nav">
  <div class="footer-inner">
    <ul class="footer-list">
      <li>
        <a href="#" lang="en">company<span>株式会社SINMEIについて</span></a>
        <ul>
          <li>
            <a href="/company" lang="en"
              >company overview<span>会社概要</span></a
            >
          </li>
          <li>
            <a href="/company" lang="en">history<span>沿革</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/works" lang="en">works<span>施工実績</span></a>
      </li>
      <li>
        <a href="#">Our MISSION<span>SINMEIの取組み</span></a>
        <ul>
          <li>
            <a href="/sdgs">SDG's <span>持続可能な開発目標</span></a>
          </li>
          <li>
            <a href="/partnership" lang="en"
              >partner ship<span>パートナーシップ</span></a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="/recruit" lang="en">recruit<span>採用情報</span></a>
      </li>
      <li>
        <a href="/news" lang="en">news<span>お知らせ</span></a>
      </li>
      <li>
        <a href="/contact" lang="en">contact<span>お問い合わせ</span></a>
      </li>
      <li>
        <a href="/special-thanks" lang="en">special thanks</a>
      </li>
    </ul>
    <div class="footer-icon">
      <figure>
        <Image src={instagram} alt="株式会社SINMEI Instagram" />
      </figure>
    </div>
    <div class="footer-text" lang="ja">
      <figure>
        <Image src={sinmei_logo} alt="株式会社SINMEIロゴ" />
      </figure>
      <p>
        <span>本 社</span>
        <span>青森県五所川原市大字太刀打字常盤83-2</span>
        <span>TEL 0173-34-4320</span>
        <span>FAX 0173-33-4776</span>
      </p>
    </div>
    <div class="footer-copy" lang="ja">
      <p>Copyright &copy;株式会社SINMEI</p>
    </div>
  </div>
</nav>
