---
import { Image } from "astro:assets";
import sinmei_logo_icon from "../images/sinmei_logo-icon.svg";
import sinmei_name_logo from "../images/sinmei_name-logo.svg";
import sinmei_instagram from "../images/instagram.svg";
---

<nav class="gnav">
  <div class="gnav-inner">
    <div class="gnav-main">
      <a href="/">
        <figure>
          <Image src={sinmei_logo_icon} alt="株式会社SINMEI" />
        </figure>
      </a>
      <figure>
        <Image src={sinmei_name_logo} alt="株式会社SINMEI" />
      </figure>
      <button class="gnav-hamburger" aria-label="Menu">
        <span class="gnav-hamburger-line"></span>
        <span class="gnav-hamburger-line"></span>
        <span class="gnav-hamburger-line"></span>
      </button>
    </div>
    <ul class="gnav-list">
      <li class="gnav-dropdown">
        <a href="#" class="gnav-dropbtn" lang="en"
          >company<span class="hidden">株式会社SINMEIについて</span>
        </a>
        <ul class="gnav-dropdown_content">
          <li>
            <a href="/company#about" lang="en"
              >company overview <span>会社概要</span></a
            >
          </li>
          <li>
            <a href="/company#history" lang="en">history<span>沿革</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/works" lang="en">works<span class="hidden">施工実績</span></a>
      </li>
      <li class="gnav-dropdown">
        <a href="#" class="gnav-dropbtn"
          >Our MISSION<span class="hidden">SINMEIの取組み</span></a
        >
        <ul class="gnav-dropdown_content">
          <li>
            <a href="/sdgs">SDGs <span>持続可能な開発目標</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/recruit" lang="en"
          >recruit<span class="hidden">採用情報</span></a
        >
      </li>
      <li>
        <a href="/news" lang="en">news<span class="hidden">お知らせ</span></a>
      </li>
      <li>
        <a href="/contact" lang="en"
          >contact<span class="hidden">お問い合わせ</span></a
        >
        <a
          href="https://www.instagram.com/sinmei4320/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <figure>
            <Image src={sinmei_instagram} alt="株式会社SINMEI Instagram" />
          </figure>
        </a>
      </li>
    </ul>
  </div>
</nav>
