<nav class="gnav">
  <div class="gnav-inner">
    <div class="gnav-main">
      <a href="/">
        <figure>
          <img
            src="/images/sinmei_logo-icon.svg"
            alt="SINMEIロゴ"
            height="25px"
          />
        </figure>
      </a>
      <figure>
        <img
          src="/images/sinmei_name-logo.svg"
          alt="SINMEIネームロゴ"
          height="25px"
        />
      </figure>

      <button class="gnav-hamburger" aria-label="Menu">
        <span class="gnav-hamburger-line"></span>
        <span class="gnav-hamburger-line"></span>
        <span class="gnav-hamburger-line"></span>
      </button>
    </div>
    <ul class="gnav-list">
      <li class="hidden">
        <figure>
          <img src="/images/sinmei-logo.svg" alt="" width="128" />
        </figure>
      </li>
      <li class="gnav-dropdown">
        <a href="#" class="gnav-dropbtn" lang="en"
          >company<span class="hidden">株式会社SINMEIについて</span></a
        >
        <ul class="gnav-dropdown_content">
          <li>
            <a href="/company" lang="en"
              >company overview <span>会社概要</span></a
            >
          </li>
          <li>
            <a href="/company" lang="en">history<span>沿革</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/works" lang="en">works<span class="hidden">施工実績</span></a>
      </li>
      <li class="gnav-dropdown">
        <a href="#" class="gnav-dropbtn"
          >Our MISSION<span class="hidden">SINMEIの取組み</span></a
        >
        <ul class="gnav-dropdown_content">
          <li>
            <a href="/sdgs">SDG's <span>持続可能な開発目標</span></a>
          </li>
          <li>
            <a href="/partnership" lang="en"
              >partner ship<span>パートナーシップ</span></a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="/recruit" lang="en"
          >recruit<span class="hidden">採用情報</span></a
        >
      </li>
      <li>
        <a href="/news" lang="en">news<span class="hidden">お知らせ</span></a>
      </li>
      <li>
        <a href="/contact" lang="en"
          >contact<span class="hidden">お問い合わせ</span></a
        >
      </li>
      <li class="hidden">
        <figure><img src="/images/instagram.svg" alt="" /></figure>
      </li>
    </ul>
    <div class="gnav-icon">
      <figure><img src="/images/instagram.svg" alt="Instagram" /></figure>
    </div>
  </div>
</nav>
