<nav class="gnav">
    <div class="gnav-inner">
        <div class="gnav-main">
            <a href="/">
                <img
                    src="/images/sinmei_logo-icon.svg"
                    alt="SINMEIロゴ"
                    height="25px"
                />
            </a>
            <img
                src="/images/sinmei_name-logo.svg"
                alt="SINMEIネームロゴ"
                height="25px"
            />
            <button class="hamburger" aria-label="Menu">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </button>
        </div>
        <ul class="gnav-list">
            <li class="hidden">
                <!--?xml version="1.0" encoding="utf-8"?-->
                <!-- Generator: Adobe Illustrator 28.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg
                    version="1.1"
                    id="レイヤー_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 2000 450.3"
                    style="enable-background:new 0 0 2000 450.3;"
                    xml:space="preserve"
                >
                    <style type="text/css">
                        .st0 {
                            fill: #ffffff;
                        }
                    </style>
                    <g id="グループ_75" transform="translate(0)">
                        <path
                            id="パス_399"
                            class="st0"
                            d="M0,0v226.8h170.9V126.4h272.1V0H0z"></path>
                        <path
                            id="パス_400"
                            class="st0"
                            d="M272.1,223.5v100.3H0v126.5h443.1V223.5H272.1z"
                        ></path>
                        <g id="グループ_74">
                            <g id="グループ_73">
                                <path
                                    id="パス_401"
                                    class="st0"
                                    d="M1076.3,170.4h-73.7v-20.6c0.6-6.2-0.3-12.6-2.8-18.3c-2.3-2.8-5.8-4.3-9.4-3.9
				c-4.3-0.2-8.4,1.8-10.8,5.3c-2.8,4.9-4.1,10.5-3.7,16.1c-0.4,7.2,1,14.4,4.1,20.9c6,7.4,13.7,13.3,22.4,17
				c24.9,11.4,47.5,27.3,66.7,46.9c10.6,17.8,15.4,38.5,13.8,59.1c0.9,15-1.7,29.9-7.6,43.7c-6.9,10.9-17.3,19.2-29.4,23.6
				c-16.1,6.6-33.5,9.9-50.9,9.5c-18.7,0.5-37.3-3.2-54.4-11c-12.9-5.3-23.4-15.3-29.4-27.9c-5.3-15.5-7.7-31.8-7-48.2v-18.2h73.6
				v33.8c-0.7,6.8,0.4,13.7,3.1,20c2.7,3.2,6.8,4.9,11,4.5c4.7,0.3,9.1-1.8,11.8-5.7c2.9-5.1,4.2-10.9,3.9-16.8
				c1.4-11.2-1.2-22.6-7.3-32.1c-11.5-9.6-24-18-37.2-25.2c-13.6-7.8-26.7-16.4-39.2-25.9c-7-6.1-12.4-13.7-15.9-22.3
				c-4.6-11.5-6.8-23.9-6.3-36.3c-1.1-16.1,2-32.1,9-46.6c6.9-10.6,17.1-18.7,28.9-23.1c15.4-5.9,31.8-8.7,48.3-8.3
				c18-0.5,35.9,2.6,52.7,9.1c12,4,22.2,12.1,28.8,22.9c5.7,14.9,8.1,30.9,7.1,46.9L1076.3,170.4z"
                                ></path>
                                <rect
                                    id="長方形_75"
                                    x="1118.9"
                                    y="86.4"
                                    class="st0"
                                    width="79.4"
                                    height="277.5"></rect>
                                <path
                                    id="パス_402"
                                    class="st0"
                                    d="M1414.8,86.4v277.5h-69.6l-41.3-126.2v126.2h-66.4V86.4h66.4l44.5,125v-125H1414.8z"
                                ></path>
                                <path
                                    id="パス_403"
                                    class="st0"
                                    d="M1704.4,86.4v277.5H1635l-0.1-187.4l-27.6,187.4h-49.2L1529,180.8l-0.1,183.1h-69.4V86.4
				h102.7c3.1,16.7,6.2,36.4,9.4,59l11.3,70.6l18.2-129.6L1704.4,86.4z"
                                ></path>
                                <path
                                    id="パス_404"
                                    class="st0"
                                    d="M1749.1,86.4h132.4v55.5h-53v52.7h49.6v52.8h-49.6v61h58.3v55.5h-137.7V86.4z"
                                ></path>
                                <rect
                                    id="長方形_76"
                                    x="1920.6"
                                    y="86.4"
                                    class="st0"
                                    width="79.4"
                                    height="277.5"></rect>
                                <path
                                    id="パス_405"
                                    class="st0"
                                    d="M567,167.2v46.9h16.6V148l16.4,19.3v-11.6h25c-5.2,14.6-14,27.6-25.7,37.7l-0.9,0.7v20.6
				l3.7-2.3c12.6-8.9,22.6-20.8,29.2-34.7V214h16.9v-35.9c6.1,13.4,15.3,25.2,27,34.3l3.8,2.4v-20.7l-0.9-0.7
				c-11.2-10.3-19.6-23.2-24.4-37.7h25.3v-16.6h-30.8v-23.3h27.5V99.4h-27.5V83.8h-16.9v15.6h-11.5c0.3-3.1,0.5-6.5,0.7-10.5v-2.5
				h-15l-0.1,2.3c-0.6,14.8-3.7,29.4-9.3,43.1l-1.5,3.5h16.5l0.6-1.6c2.3-5.8,4.2-11.8,5.5-17.9h14.1v23.3h-31.7v4.1l-16-18.4V116
				h15.9V99.8h-15.9v-16H567v16h-18.2V116H567v5.8c-0.9,16-7.1,31.2-17.6,43.3l-0.7,0.7v24.4l4.2-4.1
				C558.4,180.4,563.2,174.1,567,167.2"
                                ></path>
                                <path
                                    id="パス_406"
                                    class="st0"
                                    d="M777.5,120.5c0,45.9,15.8,77.2,46.8,93.1l3.6,1.8v-20.7l-1.2-0.7
				c-21.5-13.5-31.9-37.5-31.9-73.2V119H828v-16.7H820l-3.5-18.4h-14.8l3.4,18.4h-10.4V83.9h-17.3v18.4h-79.9V119h79.9V120.5z"
                                ></path>
                                <path
                                    id="パス_407"
                                    class="st0"
                                    d="M777,204.1l1.7-0.5v-17.2l-3.3,1.2c-9.8,3.4-19.9,5.6-30.2,6.5v-40.3h30.8v-16.8h-78.2v16.8
				h30.2v41.5c-8.8,0.4-18,0.4-27.7,0.4h-2.5v16.4h2.5C726,213.3,751.9,210.5,777,204.1"
                                ></path>
                                <path
                                    id="パス_408"
                                    class="st0"
                                    d="M560.9,284.5v12h106.4v-11.8c2.9,0.6,5.9,1.2,9,1.7l2.8,0.4v-17l-2.1-0.3
				c-21.7-1.8-41.2-13.8-52.6-32.4l-0.7-1.3h-19.3l-0.7,1.2c-11.7,18.3-31.2,30.2-52.8,32.3l-2.1,0.3v17l2.9-0.5
				C554.7,285.8,557.8,285.1,560.9,284.5 M574.3,280.4c15.6-5.4,29.4-15.2,39.5-28.2c10,13,23.6,22.8,39.1,28.3L574.3,280.4z"
                                ></path>
                                <path
                                    id="パス_409"
                                    class="st0"
                                    d="M679.1,326.9v-16H548.8v16h23.5l-9.8,20.9h-4.7c-2.2,0-4.4,0-6.7,0h-2.5v16.8h33.5
				c25.3,1.9,50.7-0.8,75-7.8l4.3,9.3h18.9l-18.1-39.2L679.1,326.9L679.1,326.9z M650.4,342c-22.3,5.3-45.3,7.3-68.3,5.8l9.9-21
				h51.4L650.4,342z"
                                ></path>
                                <path
                                    id="パス_410"
                                    class="st0"
                                    d="M798.4,347.1v-56.9h26.2v-17.6h-26.2v-36.7h-17.3v36.7h-26.3v17.6h26.3v56.9h-29.9v17.3
				h76.9v-17.3H798.4z"
                                ></path>
                                <path
                                    id="パス_411"
                                    class="st0"
                                    d="M755,318.9L735.7,302c8.7-11.2,14.4-24.4,16.6-38.3v-13.7h-18.8v-14.1h-16.8v14.1h-19.1
				v16.5H735c-5.7,20-18.5,37.2-36.1,48.3l-1.2,0.7v20.3l3.7-2.1c5.9-3.5,11.4-7.5,16.5-12V366h16.6v-44.5l20.5,18.6L755,318.9z"
                                ></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </li>
            <li class="gnav-dropdown">
                <a href="#" class="gnav-dropbtn" lang="en"
                    >company<span class="hidden">株式会社SINMEIについて</span
                    ></a
                >
                <ul class="gnav-dropdown_content">
                    <li>
                        <a href="/mission" lang="en"
                            >company overview <span>会社概要</span></a
                        >
                    </li>
                    <li>
                        <a href="/mission" lang="en">history<span>沿革</span></a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <a href="/works" lang="en"
                    >works<span class="hidden">施工実績</span></a
                >
            </li>
            <li class="gnav-dropdown">
                <a href="#" class="gnav-dropbtn"
                    >Our MISSION<span class="hidden">SINMEIの取組み</span></a
                >
                <ul class="gnav-dropdown_content">
                    <li>
                        <a href="/mission"
                            >SDG's <span>持続可能な開発目標</span></a
                        >
                    </li>
                    <li>
                        <a href="/mission" lang="en"
                            >partner ship<span>パートナーシップ</span></a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <a href="/recruit" lang="en"
                    >recruit<span class="hidden">採用情報</span></a
                >
            </li>
            <li>
                <a href="/news" lang="en"
                    >news<span class="hidden">お知らせ</span></a
                >
            </li>
            <li>
                <a href="/contact" lang="en"
                    >contact<span class="hidden">お問い合わせ</span></a
                >
            </li>
            <li class="hidden">
                <img src="/images/instagram.svg" alt="" />
            </li>
        </ul>
        <div class="gnav-icon">
            <img src="/images/instagram.svg" alt="Instagram" />
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document
                .querySelector(".hamburger")
                .addEventListener("click", function () {
                    document
                        .querySelector(".gnav-list")
                        .classList.toggle("active");
                    document
                        .querySelector(".hamburger")
                        .classList.toggle("active");
                });
        });
    </script>
</nav>
