---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/style.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Pagetop from "../components/Pagetop.astro";
const canonicalURL = new URL(Astro.url.pathname, "https://www.k-sinmei.co.jp/");
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="株式会社SINMEIは、設立以来培ってきた技術力により、お客様の幅広いニーズにお応えして鉄骨工事業を展開しております。 技術力、品質向上に努めて、お客様の満足度を高めるべく、邁進いたします。"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://www.k-sinmei.co.jp/favicon.svg"
    />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W8S94GNS5V"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-W8S94GNS5V");
    </script>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Pagetop />
    <Footer />
    <script>
      const toggleMenu = () => {
        const gnavList = document.querySelector(".gnav-list");
        const gnavHamburger = document.querySelector(".gnav-hamburger");
        if (gnavList && gnavHamburger) {
          gnavList.classList.toggle("is-active");
          gnavHamburger.classList.toggle("is-active");
        }
      };

      const changeNavBackground = () => {
        const nav = document.querySelector("header");
        if (nav) {
          nav.style.backgroundColor =
            window.scrollY > 60
              ? "rgba(16, 45, 142, 0.8)"
              : "rgba(16, 45, 142, 1)";
        }
      };

      const isTopPage = () => {
        return window.location.pathname === "/";
      };

      const parallaxBackground = () => {
        if (isTopPage()) {
          const scrollPosition = window.scrollY * 0.08;
          const topOurMissionInner = document.querySelector(
            ".top-ourmission-inner",
          );
          if (topOurMissionInner) {
            topOurMissionInner.style.backgroundPositionY = `${-140 + scrollPosition}px`;
          }
        }
      };

      const accordionItems = document.querySelectorAll(".accordion-item");

      accordionItems.forEach((item) => {
        const header = item.querySelector(".accordion-header");
        const content = item.querySelector(".accordion-content");

        if (header && content) {
          header.addEventListener("click", () => {
            content.classList.toggle("is-active");
          });

          header.addEventListener("click", (event) => {
            accordionItems.forEach((accordion) => {
              if (
                accordion !== item &&
                accordion
                  .querySelector(".accordion-content")
                  .classList.contains("is-active")
              ) {
                accordion
                  .querySelector(".accordion-content")
                  .classList.remove("is-active");
              }
            });
          });
        }
      });

      document.addEventListener("click", (event) => {
        if (!event.target.closest(".accordion-item")) {
          accordionItems.forEach((item) => {
            const content = item.querySelector(".accordion-content");
            if (content) {
              content.classList.remove("is-active");
            }
          });
        }
      });

      const gnavHamburger = document.querySelector(".gnav-hamburger");
      if (gnavHamburger) {
        gnavHamburger.addEventListener("click", toggleMenu);
      }
      window.addEventListener("scroll", changeNavBackground);
      window.addEventListener("scroll", parallaxBackground);

      let currentPage = 1;
      const slides = document.querySelectorAll(".carousel-item");
      const totalSlides = slides.length;
      const pageSize = 9;
      const totalPages = Math.ceil(totalSlides / pageSize);
      const currentPageSpan = document.getElementById("currentPage");

      if (currentPageSpan) {
        function showSlides(startIndex) {
          slides.forEach((slide, i) => {
            slide.classList.remove("is-active");
            slide.style.display = "none";
          });

          for (let i = startIndex; i < startIndex + pageSize; i++) {
            if (slides[i]) {
              slides[i].style.display = "block";
              setTimeout(() => slides[i].classList.add("is-active"), 10);
            }
          }

          currentPageSpan.textContent = `${currentPage}`;
        }

        function nextSlide() {
          currentPage = (currentPage % totalPages) + 1;
          showSlides((currentPage - 1) * pageSize);
        }

        function prevSlide() {
          currentPage = ((currentPage - 2 + totalPages) % totalPages) + 1;
          showSlides((currentPage - 1) * pageSize);
        }

        const nextBtn = document.getElementById("nextBtn");
        if (nextBtn) {
          nextBtn.addEventListener("click", nextSlide);
        }

        const prevBtn = document.getElementById("prevBtn");
        if (prevBtn) {
          prevBtn.addEventListener("click", prevSlide);
        }

        showSlides(0);
      }

      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          const pageTop = document.querySelector(".page-top");
          if (pageTop) {
            pageTop.style.display = "block";
          }
        } else {
          const pageTop = document.querySelector(".page-top");
          if (pageTop) {
            pageTop.style.display = "none";
          }
        }
      }

      const pageTopButton = document.querySelector(".page-top");
      if (pageTopButton) {
        pageTopButton.addEventListener("click", scrollToTop);
      }

      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      function hasMouseSupport() {
        return (
          matchMedia("(hover: hover)").matches ||
          matchMedia("(hover: hover)").media === "not all"
        );
      }

      function addHoverEvent() {
        var elements = document.querySelectorAll(".element");

        elements.forEach(function (element) {
          element.addEventListener("mouseenter", function () {
            this.classList.add("hovered");
          });

          element.addEventListener("mouseleave", function () {
            this.classList.remove("hovered");
          });
        });
      }

      if (hasMouseSupport()) {
        addHoverEvent();
      }
    </script>
  </body>
</html>
